.button {
    display: inline-block;
    padding: var(--space-s) var(--space-m);
    border-radius: 5px;
    border: 2px solid var(--white);
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    &.effect1{
    	position: relative;
    	overflow: hidden;
    	&:after{
		    background: #fff;
		    content: "";
		    height: 155px;
		    left: -75px;
		    opacity: .3;
		    position: absolute;
		    top: -50px;
		    transform: rotate(35deg);
		    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		    width: 50px;
		}
		&:hover{
			&:after{
				left: 120%;
				transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
    }
}
