// TODO: Desarrollar el CSS para los productos
.products {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	h2{
		font-family: var(--titles-font);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
		margin-bottom: 1.5em;
	}
	&__item{
		width: 33.333%;
		height: 370px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
        padding: 2em;
        @media screen and (max-width : 767px) {
	     	width: 100%;
	  	}
	  	@media only screen and (min-width : 768px) and (max-width : 1024px) {
	      	width: 50%;
	    }
		.item{
			&__image{
				height: 200px;
			    width: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}
			&__info{
				width: 100%;
			    display: flex;
			    align-items: center;
			    justify-content: space-between;
			    padding: 1em 0;
				.info{
					&__price{
						max-width: 30%;
					    background: var(--orange);
					    font-weight: 700;
					    padding: .4em 1em;
					    text-align: center;
					    animation: reverseEffectPrice .2s cubic-bezier(.165,.84,.44,1) forwards;
					}
					&__name{
						font-family: var(--titles-font);
	    				width: 65%;
					}
				}
			}
		}
		&:hover{
			.info{
				&__price{
					animation: effectPrice .2s cubic-bezier(.165,.84,.44,1) forwards;
				}
			}
		}
		&.special-item{
		    width: 66.666%;
		    background-position-y: bottom;
		    background-repeat: no-repeat;
		    background-size: cover;
		    box-shadow: 0px 0px 10px #888888;
		    @media screen and (max-width : 1024px) {
	     		display: none;
		  	}
		}
	}
}
@keyframes effectPrice {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0) scale(1.3);
    }
}
@keyframes reverseEffectPrice {
    100% {
        transform: rotate(-15deg);
    }

    0% {
        transform: rotate(0) scale(1.3);
    }
}
.load {
    text-align: center;
    margin-top: 3em;
}
