// TODO: Desarrollar el CSS para el slider
.slider {
	height: 600px;
	position: relative;
	@media screen and (max-width : 767px) {
	    height: calc(100vh - 94px);
  	}
	&__item {
		display: none;
		&.active{
			display: flex;
			height: 100%;
			background-position: center;
			background-size: cover;
		 	animation: sliderEffect .5s cubic-bezier(.165,.84,.44,1) forwards;
		}
		.container {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: center;
			h2 {
				background-color: var(--orange);
				color: white;
				text-transform: uppercase;
				padding: .5em 1em;
				font-family: var(--titles-font);
			}
			@media screen and (max-width : 1024px) {
			    padding: 0 3em;
		  	}
		}
		&:nth-child(odd){
			.container {
			    align-items: flex-end;
			}
		}
		a {
			background-color: var(--black);
			color: white;
			text-transform: uppercase;
			padding: .5em 1em;
			border: 2px solid white;
			border-radius: 5px;
			&:hover {
			    background-color: rgba(0, 0, 0, .5);
			    border-color: rgba(255, 255, 255, 0.4);
			    transition: all .3s cubic-bezier(.165,.84,.44,1);
			}
		}
	}
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 3em;
		color: white;
		cursor: pointer;
		z-index: 1;
		&.prev {
			left: 15px;
		}
		&.next {
			right: 15px;
		}
	}
	&__pause-play{
	    position: absolute;
	    bottom: 15px;
	    right: 15px;
	    font-size: 2em;
	    color: var(--black);
	    cursor: pointer;
	    // animation: rotate .5s cubic-bezier(.165,.84,.44,1) forwards;
	    &:hover{
	    	svg{
				animation: rotate 1s cubic-bezier(.165,.84,.44,1) forwards;
	    	}
	    }
    	&.pause{
			.fa-pause-circle{
				display: block;
			}
			.fa-play-circle{
				display: none;
			}
    	}
    	&.play{
			.fa-pause-circle{
				display: none;
			}
			.fa-play-circle{
				display: block;
			}
    	}
	}
}
.container {
	width: 90%;
	margin: 0 auto;
	@media screen and (min-width : 1200px) {
	    max-width: 1170px;
  	}
}
@keyframes sliderEffect {
    0% {
        transform: translate(5000px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}